<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spot API</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Controle do Spotify</h1>
      <button onclick="previous()">Anterior</button>
      <button onclick="play()">Play</button>
      <button onclick="pause()">Pause</button>
      <button onclick="next()">Próxima</button>

      <script>
        async function play() {
          await fetch('/play', { method: 'POST' });
        }
        async function pause() {
          await fetch('/pause', { method: 'POST' });
        }
        async function next() {
          await fetch('/next', { method: 'POST' });
        }
        async function previous() {
          await fetch('/previous', { method: 'POST'});
        }
      </script>
</body>
</html>